<!DOCTYPE html>

<html>

  <head>

    <title>LearnWebpacker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag params[:controller] rescue nil %>

  </head>

  <body>

    <%= render "/shared/flash" %>

    <%= yield %>

  </body>

</html>
