<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Account</th>
      <th>Username</th>
      <th>Password</th>
      <th>Auth token</th>
      <th>Developer token</th>
      <th>Client</th>
      <th>Client secret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.account_id %></td>
        <td><%= account.username %></td>
        <td><%= account.password %></td>
        <td><%= account.auth_token %></td>
        <td><%= account.developer_token %></td>
        <td><%= account.client_id %></td>
        <td><%= account.client_secret %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
